<ul>
  @if (option == 1){
  <li class="active">Misión</li>
  }@else{
  <li>Misión</li>
  }
  @if (option == 2){
  <li class="active">Visión</li>
  }@else{
  <li>Visión</li>
  }
  @if (option == 3){
  <li class="active">Objetivos</li>
  }@else{
  <li>Objetivos</li>
  }
  @if (option == 4){
  <li class="active">Metas</li>
  }@else{
  <li>Metas</li>
  }
</ul>
<p>
  @if (option == 1){
  Misión bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam eu
  velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur commodo
  molestie justo quis dictum. Cras a efficitur nibh.
  }@else if (option == 2){
  Visión bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam eu
  velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur commodo
  molestie justo quis dictum. Cras a efficitur nibh.
  }@else if (option == 3){
  Objetivos bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam eu
  velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur commodo
  molestie justo quis dictum. Cras a efficitur nibh.
  }@else{
  Metas bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam eu
  velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur commodo
  molestie justo quis dictum. Cras a efficitur nibh.
  }

</p>
