<section>
  <header>
    <div class="general__title">
      <h2>Preguntas frecuentes</h2>
    </div>
    <p>
      Los usuarios encontrarán en este segmento un compendio de preguntas y
      respuestas de los cuestionamientos más frecuentes que son consultados. Lo
      que se pretende es fomentar la educación y la formación de ciudadanos
      responsables.
    </p>
  </header>
  @for (faq of faqs; track faq.id) {
  <article id="'faq' + faq.id" class="question" (click)="toggleFaq(faq.id)">
    <div class="close">
      <fa-icon [icon]="openFaqId === faq.id ? faMinus : faPlus"></fa-icon>
      <p>{{ faq.question }}</p>
    </div>
    <div class="answer open" [class.open]="openFaqId !== faq.id">
      <p>
        {{ faq.answer }}
      </p>
    </div>
  </article>
  }
</section>
