section {
  height: auto;
}

section header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 3rem;
}

.title {
  height: auto;
  flex-wrap: wrap;

  color: #939292;
  font-size: 2rem;
  padding: 0;
}

.text {
  font-size: 1.5rem;
  text-wrap: pretty;
  padding: 1rem;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding-top: 1rem;

  transition: all 0.6s ease-in-out;
}

.close {
  width: 60vw;
  height: 4rem;

  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;

  font-size: 1.5rem;

  background-color: #eeeeef;
  color: #23d1ed;
  border-radius: 20px;

  cursor: pointer;

}

.close p {
  color: #777777;
}

.answer{
  width: 50vw;
  height: auto;

  min-height: 15rem;

  font-size: 1.5rem;

  Display: flex;
  align-items: center;
  text-align: center;

  background-color: #fefeff;
  box-shadow: 0px 1px 2px -1px rgba(1,0,0,0.6);

  color: #777777;
  border-radius: 20px;



}


.question .open {
  display: none;
}

.question.open .open {
  display: block;
  padding: 2rem;
}

.close.active{
  background-color: #39dff8;
  color: #eeeeef;
}

.close.active p {
  color: #eeeeef;
}



