section {
    height: auto;
    margin: 2rem 0;
    padding: 0 2rem; /* Espaciado desde los bordes */
}

.general__title {
    width: 100%;
    min-height: 4rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #939292;
    font-size: 2rem;
    padding: 0 3%;
}

.img-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-item {
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    max-width: 90%; /* Espaciado dentro del contenedor */
    height: auto;   
}

/* Mostrar 3 imágenes en pantallas grandes */
@media (min-width: 1024px) {
    .carousel-item {
        min-width: 33.3333%; /* Ajustado para mostrar 3 imágenes */
    }
}

/* Mostrar 2 imágenes en pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-item {
        min-width: 50%; /* Ajustado para mostrar 2 imágenes */
    }
}

/* Mostrar 1 imagen en pantallas pequeñas */
@media (max-width: 767px) {
    .general__title {    
        font-size: 1.5rem; 
    }
    .carousel-item {
        min-width: 100%; /* Ajustado para mostrar 1 imagen */
    }  
}

button.prev,
button.next {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem; 
    z-index: 2;   
} 

button.prev {
    position: absolute;
    left: 1rem;
}

button.next {
    position: absolute;
    right: 1rem;
}
