<article class="main__content__about">
  <div class="__body__about">
    <div class="__img">
      <img src="../../../assets/img/home/RotuloGolfito.webp" alt="Rotulo Golfito, parque central">
    </div>
    <div class="__text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis ipsum eu aliquam aliquet. Nam sapien
        leo, viverra vitae mi et, convallis suscipit neque. Nullam sem quam, mollis a ex ac, elementum aliquam velit.
        Morbi bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam
        eu velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur
        commodo molestie justo quis dictum. Cras a efficitur nibh. <br>
        Morbi bibendum neque id ipsum porttitor bibendum. Mauris pharetra ullamcorper lorem ac cursus. Praesent nec quam
        eu velit dictum pretium. Integer auctor accumsan enim, sit amet pulvinar augue vestibulum sagittis. Curabitur
        commodo molestie justo quis dictum. Cras a efficitur nibh. </p>
    </div>
  </div>
</article>
