<article class="main__content__about">
  <div class="__body__about">
    <div class="__img">
      <img
        src="../../../assets/img/home/RotuloGolfito.webp"
        alt="Rotulo Golfito, parque central"
      />
    </div>
    <div class="__text">
      <p>
        La Comisión Nacional de Prevención de Riesgos y Atención de Emergencias
        (CNE) en el cantón de Golfito es la entidad responsable de coordinar y
        ejecutar acciones para la prevención y atención de emergencias en esta
        región. 
      </p>
      <p>
        Trabajamos en conjunto con instituciones públicas, privadas,
        organizaciones no gubernamentales y la comunidad para proteger a los
        habitantes de Golfito y reducir el impacto de desastres naturales y
        otras situaciones de riesgo.
      </p>
    </div>
  </div>
</article>
