<nav>
  <div>
    <img src="../../assets/img/escudo1.gif" alt="Logo de la municipalidad de Golfito">
  </div>
  <section>
    <input type="text" placeholder="Buscar" name="search">
    <span routerLink='/dashboard' routerLinkActive='active'>Inicio</span>
    <span routerLink='/cce' routerLinkActive='active'>CCE</span>
    <span routerLink='/albergues' routerLinkActive='active'>Albergues</span>
    <span routerLink='/directorio' routerLinkActive='active'>Directorio</span>
    <span routerLink='/acerca' routerLinkActive='active'>Acerca de</span>
  </section>
</nav>
