@if (tables?.length>0) {
<div class="directory-container">
  @for (item of tables;track item) {
  <h1>{{ item.name }}</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Institución</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        @for (directory of item.items;track directory){
        <tr>
          <td>{{ directory.name }}</td>
          <td>{{ directory.job }}</td>
          <td>{{ directory.institution }}</td>
          <td>{{ directory.mail }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <span></span>
  }
</div>
}
