<span></span>
<h1>Mesa de primera respuesta</h1>
<table>
  @for (person of data; track person){
  <tr>
    <td>{{person.name}}</td>
    <td>{{person.job}}</td>
    <td>{{person.institution}}</td>
    <td>{{person.mail}}</td>
  </tr>
  }
</table>
<span></span>
<h1>Mesa de Salud, Agua y Saneamiento</h1>
<table>
  @for (person of data; track person){
  <tr>
    <td>{{person.name}}</td>
    <td>{{person.job}}</td>
    <td>{{person.institution}}</td>
    <td>{{person.mail}}</td>
  </tr>
  }
</table>
<span></span>
<h1>Mesa de Infraestructura y Servicios</h1>
<table>
  @for (person of data; track person){
  <tr>
    <td>{{person.name}}</td>
    <td>{{person.job}}</td>
    <td>{{person.institution}}</td>
    <td>{{person.mail}}</td>
  </tr>
  }
</table>
