<section>
  <div class="general__title">
    <h2>Noticias</h2>
  </div>
  <div class="img-carousel">
    <button class="prev" (click)="prevSlide()">❮</button>
    <div class="carousel-wrapper">
      <div class="carousel" [style.transform]="getTransform()">
        @for(news of newsItems; track news.id ){
        <div class="carousel-item"  >
          <div class="news-card">
            <h3>{{ news.title }}</h3>
            <img [src]="news.image" [alt]="news.title" />
            <!--<p>{{ news.description }}</p>-->
            <div class="date">{{ news.date }}</div>
            <a [href]="news.link" target="_blank" class="read-more-button">Leer Más</a>
          </div>
        </div>
        }
      </div>
    </div>
    <button class="next" (click)="nextSlide()">❯</button>
  </div>
</section>
