section {
    height: 100vh;
    background-image: url("../../../assets/img/home/home.webp");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
  font-family: "JetBrainsMono";
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: white;
}
