<article class="main__content">
    <div class="__title">
        <h2>Sistema Nacionales de Gestion del Riesgo</h2>
    </div>
    <div class="__body">
        <div class="__text">
            <p>
                El SNGR permite organizar y articular de forma integral, armónica y coordinada las relaciones, los programas y recursos de las instituciones del estado,
                el Sector Privado y la Sociedad Civil organizada. 
            </p>
        </div>
        <div class="__content">
            <article class="__content-info">
                <img src="../../../assets/img/home/hands.webp" alt="">
                <a target="_blank" href="https://www.cne.go.cr/rectoria/instancias_coordinacion/index.aspx">Instancias</a>
            </article>
            <article class="__content-info">
                <img src="../../../assets/img/home/politics.webp" alt="">
                <a target="_blank" href="https://www.cne.go.cr/#">Politicas</a>
            </article>
            <article class="__content-info">
                <img src="../../../assets/img/home/costarica.webp" alt="">
                <a target="_blank" href="https://www.cne.go.cr/rectoria/plan_nacional_gestion_riesgo.aspx">Plan Nacional</a>
            </article>
        </div>
    </div>
</article>
