div{
  display: flex;
  flex-direction: column;
}
button{
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 999;
  top: 2%;
  left: 2%;
  border-radius: 50%;
  border: none;
  transition: all 300ms ease-in-out;
  background-color: var(--title-color);
  color: var(--background-color);
  font-size: 2rem;
  display: none;
}


app-menu-mobile{
  top: 0;
  left: 0;
  visibility: visible;
  z-index: 998;
  position: fixed;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.hidden{
  transform: translateX(-380px);
  visibility: hidden;
  opacity: 0;
}

/*Responsive*/
@media (max-width: 975px){
  app-navbar{
    display: none;
  }
  button{
    display: block;
  }
  app-menu-mobile{
    display: block;
  }
}
