<section>
  <div class="general__title">
    <h2>Horarios</h2>
  </div>
  <div class="__body__about">
    <div class="text">
      Se pone a dispocicion los horarios de los diferentes servicios para
      atencion al publico
    </div>

    @for (schedule of schedules; track schedule.id) {
    <article id="Sch1" class="schedule" (click)="toggleFaq(schedule.id)">
      <div class="close">
        <fa-icon [icon]="openScheId === schedule.id ? faMinus : faPlus"></fa-icon>
        <p>{{schedule.Lugar}}</p>
      </div>
      <div class="answer open" [class.open]="openScheId !== schedule.id">
        <p><strong>Apertura:</strong>  {{schedule.Apertura}}</p>
        <p><strong>Cierre:</strong> {{schedule.Salida}}</p>
      </div>
    </article>
    }
  </div>
</section>
