div{
  display: flex;
  flex-direction: column;
  text-align: center;
}
a{
  font-size: 4rem;
}
@media (max-width: 1070px){
  div{
    justify-content: center;
    gap: 5rem;
    flex-direction: row;
    margin-bottom: 4rem;
  }
}
