<nav>
  @if (carousel == 0){
    <button disabled (click) = "navigateCarousel(-1)" value="<">{{"<"}}</button>
  }@else{
    <button (click) = "navigateCarousel(-1)" value="<">{{"<"}}</button>
  }
  @for (place of places.slice(carousel, carousel + 4); track place){
  <span (click) = "setCurrentPlace(place.id)" >{{place.name}}</span>
  }
  @if (carousel == places.length - 4){
    <button disabled (click) = "navigateCarousel(1)" value="<">{{">"}}</button>
  }@else{
    <button (click) = "navigateCarousel(1)" value="<">{{">"}}</button>
  }</nav>
<div [innerHTML]=places[currentPlace].ubication></div>
