<nav>
  @if (carousel == 0){
    <button class="back disabled" disabled  value="<">{{"<"}}</button>
  }@else{
    <button class="back " (click) = "navigateCarousel(-1)" value="<">{{"<"}}</button>
  }
  @for (place of places.slice(carousel, carousel + 4); track place){
  @if( place.id == places[currentPlace].id){

    <span class="selected" (click)="setCurrentPlace(place.id)">{{place.name}}</span>
  } @else{

    <span (click)="setCurrentPlace(place.id)">{{place.name}}</span>
  }
  }
  @if (carousel == places.length - 4){
    <button class="forward disabled" disabled  value="<">{{">"}}</button>
  }@else{
    <button class="forward " (click) = "navigateCarousel(1)" value="<">{{">"}}</button>
  }
</nav>
<div [innerHTML]=places[currentPlace].ubication></div>
